# Configs
.env*

# Keys
id_*

# Compiled output
packages/*/.types/
root/public/assets/
root/lib/

# Other
node_modules/
build/
out/
tmp/
sandbox/
desktop/dist/
.vscode/
.idea/
*.tsbuildinfo
*.log
*.bak
*~

# Custom scripts
deploy.sh

# Local Docker data
.docker-data/

